<div class="container">
  <h2>Fist <i *ngIf="isOk" class="far fa-check-circle"></i> </h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label>UserName:</label>
      <input [(ngModel)]="usr" name="usr" type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input [(ngModel)]="pw" type="password" name="pw" class="form-control" id="pw">
    </div>
    <button (click)="nextUpdateButtonClicked()" routerLink="/secondComponent" type="button" class="btn btn-default">{{nextButtonText}}</button>
  </form>

</div>
