<div class="container">
  <h2>Second <i *ngIf="isOk" class="far fa-check-circle"></i> </h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label>Form Colour:</label>
      <label>E mail:</label>
      <input [(ngModel)]="emails" name="emails" type="email" class="form-control" id="emails">
    </div>
    <div class="form-group">
      <label>Company:</label>
      <input [(ngModel)]="companys" name="companys" type="text" class="form-control" id="companys">
    </div>
    <button routerLink="/fistComponent"  type="button" class="btn btn-default">Back</button>
    <button (click)="secondClick()" routerLink="/thirdComponent" type="button" class="btn btn-default">{{nextButtonText}}</button>

  </form>
</div>
