<div class="container">
  <h2>Third <i *ngIf="isOk" class="far fa-check-circle"></i></h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label>Agriment:</label>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid at blanditiis cumque ea, exercitationem ipsa iusto magnam maxime omnis quis similique tenetur. Architecto assumenda blanditiis excepturi, odio saepe temporibus.</p>
    </div>
    <button routerLink="/secondComponent" type="button" class="btn btn-default">Back</button>
    <button (click)="AcseptClick()" routerLink="/final" type="button" class="btn btn-default">Acsept</button>
  </form>
</div>
