<div class="container">
  <h2>Final</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label>UserName:</label>
      {{userName}}
      <br>
      <label>Password:</label>
      {{pasword}}
    </div>
    <hr>
    <div class="form-group">
      <label>Email:</label>
      {{email}}
      <br>
      <label>Company:</label>
      {{company}}
    </div>
    <div class="form-group">
    </div>
    <button routerLink="/thirdComponent"  type="button" class="btn btn-default">Back</button>
  </form>
</div>
