<app-nav-bar></app-nav-bar>
<a routerLink="/fistComponent">Fist <i *ngIf="setsible" class="fas fa-check-double"></i></a>
<br><br>
<a routerLink="/secondComponent">Second<i *ngIf="secondVisible" class="fas fa-check-double"></i></a>
<br><br>
<a routerLink="/thirdComponent">Third  <i *ngIf="thirdVisible" class="fas fa-check-double"></i></a>
<br><br>
<a routerLink="/final">Final</a>
<br><br>
<router-outlet></router-outlet>
